$mv: hsl(263, 55%, 52%);//used
$vdgb: hsl(217, 19%, 35%);//used
$vdgba: rgba(72, 85, 106, 0.50);//used
$vdgbaa: rgba(72, 85, 106, 0.70);
$vdbb: hsl(219, 29%, 14%);//used
$white: hsl(0, 0%, 100%);//used
$lg: hsl(0, 0%, 81%);//used
$lpa: rgba(207, 207, 207, 0.50);
$lha: rgba(207, 207, 207, 0.70);
$lgb: hsl(210, 46%, 95%);//used

